.header {
  padding: 24px 0 16px;
  border-bottom: solid 1px #eeeeee;
}

.container {
  width: 1440px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.orderContainer {
  width: 1440px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  height: 100%;
}
.tab {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.order {
  box-sizing: border-box;
  padding-top: 32px;
  width: 100%;
}

.body {
  margin-top: 0px;
  box-sizing: border-box;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
}

.title {
  color: #0ec261;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.location {
  color: #999999;
  font-size: 14px;
  margin: 0;
  height: 18.33px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 17px;
    height: 20px;
    margin-right: 8px;
  }
}

.wrapTabs {
  padding: 8px 0;
  border-bottom: solid 1px #eeeeee;
  button {
    margin-right: 40px;
    background: transparent;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #999999;
    padding: 0;
    position: relative;
    &.activeTabBtn {
      color: #0ec261;
    }
    &.tabBtn {
      color: #000;
    }
    &:disabled {
      color: #999999;
    }
    &::after {
      content: '';
      width: 6px;
      height: 8px;
      display: block;
      position: absolute;
      top: 4px;
      right: -24px;
      background-image: url(../../assets//arrow-triangle.svg);
    }
    &:last-child {
      margin-right: 0px;
      &::after {
        display: none;
      }
    }
  }
}

.orderWrap {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 12px;
  background-color: #fff;
  box-shadow: 10px 10px 8px 10px #0ec261;
  h3 {
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    margin-top: 0;
    margin-bottom: 26px;
  }
  button {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    width: 287px;
    height: 48px;
    border: 0;
    outline: none;
    border-radius: 8px;
    &.smallBtn {
      width: initial;
      height: 38px;
      font-size: 14px;
      padding: 0 10px;
    }
    &.openOrderBtn {
      width: initial;
      height: 38px;
      font-size: 14px;
      padding: 0 10px;
      color: #000;
      background: transparent;
      float: right;
    }
  }
  .close {
    top: 21px;
    position: absolute;
    background: transparent;
    width: 30px;
    height: 30px;
    color: #000;
  }
}

.price {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 32px;
}

.tabTotalModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
}

.tabTotalModal div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabTotalModal div p {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #121212;
  margin-bottom: 32px;
}

.tabTotalModal div button.confirmBtn {
  width: 177px;
  height: 48px;
  margin-bottom: 16px;
}

.loaderWrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderNumber {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

@media screen and (min-width: 525px) {
  .tabTotalModal div {
    display: block;
  }
  .tabTotalModal div button.confirmBtn {
    width: 177px;
    height: 48px;
    margin-bottom: 0px;
    margin-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .tab {
    padding-bottom: 0px;
    border-right: solid 1px #eee;
    min-height: calc(100vh - 138px);
    padding-right: 16px;
  }
  .order {
    min-width: 280px;
    width: 320px;
    height: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .orderContainer {
    padding: 0 32px;
    display: flex;
    flex-direction: row;
  }
  .container {
    padding: 0 32px;
  }
  .header {
    padding: 32px 0;
    .container {
      flex-direction: row;
      align-items: baseline;
    }
  }

  .orderWrap {
    padding: 0 0 0 16px;
    position: initial;
    box-shadow: none;
    .close {
      display: none;
    }
  }

  .orderWrap button.openOrderBtn {
    display: none;
  }
}

@media screen and (min-width: 808px) {
  .orderWrap {
    padding: 0 0 0 16px;
  }
  .order {
    min-width: 320px;
  }
}
@media screen and (min-width: 1024px) {
  .orderWrap {
    padding: 0 0 0 32px;
  }
  .orderContainer {
    padding: 0 64px;
  }

  .container {
    padding: 0 64px;
  }
}

@media screen and (min-width: 1439px) {
  .header .container {
    margin: 0 auto;
  }
}
