.menu {
  margin-left: 21px;
  margin-top: 80px;
}
.menu a {
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.menu a:hover {
  color: #0ec261;
  transition: all 0.3s ease;
}
.social {
  display: flex;
  margin-top: 38px;
}
.social a {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 24px;
}

.social a.telegram {
  background-image: url(../../assets/telegram.svg);
  &:hover {
    background-image: url(../../assets/telegram-hover.svg);
  }
}
.social a.fb {
  background-image: url(../../assets/fb-icon.svg);
  &:hover {
    background-image: url(../../assets/fb-icon-hover.svg);
  }
}
.social a.inst {
  background-image: url(../../assets/inst-icon.svg);
  &:hover {
    background-image: url(../../assets/inst-icon-hover.svg);
  }
}

.layout-menu {
  max-height: 1450px;
  width: 100%;
  max-width: 2560px;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .menu {
    margin-top: 0px;
    margin-left: 64px;
  }
  .menu a {
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .menu a {
    font-size: 32px;
    line-height: 37px;
  }
}
