.menu {
  margin-left: 21px;
  margin-top: 80px;
  a {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
  }
  &:hover {
    color: #0ec261;
    transition: all 0.3s ease;
  }
}

.social {
  display: flex;
  margin-top: 38px;
  a {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 24px;
  }
  a.telegram {
    svg {
      path {
        transition: all 0.3s ease;
      }
      &:hover {
        path {
          transition: all 0.3s ease;
          fill: #0ec261;
        }
      }
    }
  }
  a.fb {
    svg {
      path {
        transition: all 0.3s ease;
      }
      &:hover {
        path {
          transition: all 0.3s ease;
          fill: #0ec261;
        }
      }
    }
  }
  a.inst {
    svg {
      path {
        transition: all 0.3s ease;
      }
      &:hover {
        path {
          transition: all 0.3s ease;
          fill: #0ec261;
        }
      }
    }
  }
}

.layout-menu {
  width: 100%;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .menu {
    margin-top: 0px;
    margin-left: 64px;
    a {
      font-size: 28px;
      line-height: 32px;
      &:hover {
        color: #0ec261;
        transition: all 0.3s ease;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .menu a {
    font-size: 32px;
    line-height: 37px;
    &:hover {
      color: #0ec261;
      transition: all 0.3s ease;
    }
  }
}
