.chooseColor {
  margin-bottom: 34px;
}

.titleBox {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.rentDate {
  margin-bottom: 34px;
}

.wrapperDate {
  margin-bottom: 13px;
  span {
    display: inline-block;
    width: 19px;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    margin-right: 8px;
    text-align: right;
  }
}

.rate {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  label {
    margin-bottom: 12px;
  }
}
