.selectWrap {
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 100%;
  justify-content: flex-end;
  margin-bottom: 15px;
  p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
  }
}

.mapWrap {
  display: table;
  width: 100%;
  max-width: 736px;
  height: 356px;
  max-height: 356px;
  margin-top: 40px;
  p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 16px;
  }
  img {
    box-sizing: border-box;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .selectWrap {
    align-items: end;
    flex-direction: row;
    height: 27px;
    margin-bottom: 5px;
    p {
      text-align: right;
    }
  }
}
